name: test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        go_version: [ "~1.18", "~1.19", "~1.20" ]

    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v6

      - uses: actions/setup-go@v6
        with:
          go-version: "${{ matrix.go_version }}"
          cache: true

      - name: Get dependencies
        run: go get -v -t -d ./...

      - name: Test
        run: go test ./...
